html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Квартиры СПБ | Поиск

        link(
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
            crossorigin="anonymous"
        )
        link(rel="stylesheet", href="/css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")

        script(
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
            crossorigin="anonymous"
        )
    body
        #roomsCountSlide.slide
            img.background(src="/img/room.jpg")
            #roomsCount.container-sm.slide-inner
                .text-light
                    .container-sm
                        h1.header.fw-bold Подбор квартир из единой базы новостроек Санкт-Петербурга
                    .checkboxes.container-sm
                        h3.fw-bold Какая квартира интересует?
                        p Выберите 1 или Несколько Вариантов
                        .group.mt-3
                            label.btn.btn-checkbox.center
                                input.btn-check(autocomplete="off", type="checkbox")
                                p Студия
                            label.btn.btn-checkbox.center
                                input.btn-check(autocomplete="off", type="checkbox")
                                p Однокомнатная
                            label.btn.btn-checkbox.center   
                                input.btn-check(autocomplete="off", type="checkbox")
                                p Двухкомнатная
                            label.btn.btn-checkbox.center
                                input.btn-check(autocomplete="off", type="checkbox")
                                p Трехкомнатная и более
                        .center
                            button(disabled).btn.next
                                a(href='#budgetSlide').btn.btn-primary Далее
        #budgetSlide.slide
            img.background(src="/img/hall.jpg")
            #budget.container-sm.slide-inner
                .checkboxes.text-light.container-sm
                    h2.fw-bold Бюджет покупки
                    p Выберите 1 или Несколько Вариантов
                    .group.mt-3
                        label.btn.btn-checkbox.center
                            input.btn-check(autocomplete="off", type="checkbox")
                            p 2 - 5 млн рублей
                        label.btn.btn-checkbox.center
                            input.btn-check(autocomplete="off", type="checkbox")
                            p 5 - 10 млн рублей
                        label.btn.btn-checkbox.center
                            input.btn-check(autocomplete="off", type="checkbox")
                            p 10 - 18 млн рублей
                    .center
                        button.btn
                            a(href="#roomsCountSlide").btn.btn-dark Назад  
                        button(disabled).btn.next
                            a(href="#paymentMethodsSlide").btn.btn-primary Далее
                     
        #paymentMethodsSlide.slide
            img.background(src="/img/yard.jpg")
            #paymentMethods.container-sm.slide-inner
                .checkboxes.text-light.container-sm
                    h2.fw-bold Способы Оплаты
                    p Выберите 1 или Несколько Вариантов
                    
                        .group.mt-3
                            label.btn.btn-checkbox.center
                                input.btn-check(autocomplete="off", type="checkbox")
                                p 100% Оплата
                            label.btn.btn-checkbox.center
                                input.btn-check(autocomplete="off", type="checkbox")
                                p Ипотека
                            label.btn.btn-checkbox.center 
                                input.btn-check(autocomplete="off", type="checkbox")
                                p Рассрочка
                        .center
                            button.btn
                                a(href="#budgetSlide").btn.btn-dark Назад         
                            button(disabled)#searchBtn.btn.next
                                a(href="#formSlide").btn.btn-primary Найти
                      
        #formSlide.slide 
            img.background(src="/img/home.jpg")
            .slide-inner
                .container-sm
                    .checkboxes.mt-3.mx-auto.text-light
                        h2#searchTitle.fw-bold  Для поиска заполните форму...
                        form#searhForm(hidden)
                            .center
                                .mt-2
                                    label(for="name").form-label Имя
                                    input(type="name")#name.form-control
                                .mt-2 
                                    label(for="phone").form-label Телефон
                                    input(type="phone")#phone.form-control
                                .flex.flex-gap-1
                                    button.btn.p-0
                                        a(href="#paymentMethodsSlide").btn.btn-dark Назад  
                                    button(disabled)#send.btn.btn-primary.m-1 Отправить
            
        script(src="/js/list.js")
        script(src="/js/main.js")